body {
    margin: 0;
    padding: 0;
}

.hdr{
    background-color: none;
      padding: 20px;
      text-align: center;
      border-top: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
  }
  .hamburger {
    position: absolute;
    display: none;
    width: 150px;
    height: 200px;
    float: right;
    top: 15px;
    right:15px;
  }
  
  .hamburger-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 13px;
    line-height: 85%;
    width: 30px;
    height: 30px;
  }
  
  .hamburger-content {
    display: block;
    position: fixed;
    background-color: none;
    width: 160px;
    text-align: left;
    right: -50%;
    opacity: 0;
    visibility: 0;
    transition: right 1s ease, opacity 1s ease, visibility 1s ease;
  }
  
  .hamburger-content ul {
    list-style-type: none;
  }
  
  .hamburger-content ul li {
    font-size: 16px;
  }
  
  .hamburger-content a {
    text-decoration: none;
    color: #fff;
    font-weight:bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  
  .hamburger-content ul li, .hamburger-content a {
    margin: 5px 0;
    padding: 3px 0;
  }

  .hamburger-btn:hover {
    cursor: pointer;
    transform: none;
  }
  
  .show-hb {
    right: 0;
    opacity: 1;
    visibility: 1;
  }
  
  nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:20px;
    padding-left:10%;
    padding-right:10%;
  }
  
  .logo{
    color:white;
    font-size:28px;
    text-shadow: 0 4px 6px rgba(255, 255, 255, 0.8);
  }
  
  .logo span{
    color:red;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  
  span:hover{
    transform:scale(1.3);
    cursor: pointer;
    transition:.4s;
  }
  
  nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: transition 0.3s;
    border-radius: 5%;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    text-shadow: 0 4px 6px rgba(255, 255, 255, 0.8);
  }
  
  nav ul li:hover{
    transition: scale(1.3);
  }
  
  nav ul li a{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
    color:white;
    text-decoration: none;
    font-size:15px;
    transition:.4s;
    font-weight:bold;
  }
  
  nav ul li a:hover{
    transform:scale(1.3);
    cursor: pointer;
  }
  
  nav ul{
    color: white;
  }
  
.app__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: blur(8px);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: brightness(0.2);
  }
  .app__bg__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 100%;
    height: 100%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    
  }
  .app__bg__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.vsc-initialized {
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center; /* Centra il testo orizzontalmente */
    background-color: none;
    display: flex; /* Utilizza il flexbox per centrare verticalmente */
    justify-content: center; /* Centra il contenuto verticalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    margin-top: 70px;
    
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

img {
    height: 60px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.form-group {
    margin-bottom: 1rem;
    display: block;
}



label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

user agent stylesheet
label {
    cursor: default;
}



button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


footer {
    background-color: none;
    text-align: center;
    padding: 10px 0;
      border-bottom: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
  }
  
  footer p {
    color: #fff;
  }

  .translate {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-top: 20px;
    position: absolute;
    left: 0;
    z-index: 2;
  
  }
  
  .translate-btn {
    margin: 10px 20px;
    color: white;
    text-decoration: none;
  }
  
  .translate-btn a {
    color: white;
    text-decoration: none;
  
  }

  button{
    border:none;
    background:none;
    color:white;
    font-weight:bold;
    font-size:15px;
    transition:.4s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  
  button:hover{
    transform:scale(1.3);
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {


    .translate {
      position: absolute;
      justify-content: space-evenly;
      flex-direction: row;
      background-color: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      top: 29%;
    }
  
    .hamburger {
      display: flex;
    }
  
    .infoList {
      transform: scale(0.8);
    }
  
    .info__wrapper {
      transform: scale(0.6);
    }
  
    nav ul, nav a {
      display: none;
    }

    /*nav h2 {
      display: none;     /*quando mettiamo il logo piccolo non comprira piu il menu hamburger , ora è lungo e quindi lo copre
      
    }*/  

    body {
      height: 100vh;
      overflow: hidden;
    }
  
    .translate-btn a{
      font-size: 20px;
    }
  
    footer p{
     top: 0;
    }
  
   footer {
    float: top;
    font-size: 8px;
   }
  
   .support {
    display: none;
   }
  
   .app {
    max-width: 100%;
    overflow: hidden;
   }
  
    .app__bg{
      height: 100vh;
    }
  
    .app__bg__image {
      height: 100vh;
    }
  
    .app__bg__image.current--image, .app__bg__image.next--image, .app__bg__image.previous--image {
      height: 100vh;
    }
  
    
    
    /* about */
  
    .content-ab img{
      width: 100px;
      height: auto;
      margin:0;
      padding:0;
      margin-right: 10px;
    }
  
    .text-bg p {
      padding: 0;
    }
  
    .text-bg {
      margin-bottom: 60px;
      width: 85%;
      height: 60%;
    }
  
    .content-ab {
      padding: 10px;
    }

    h1{
      display: none;
    }

    h5{
      margin-top: 0;
    }
    

    

    
  
  }
  

  @media screen and (min-width: 768px) and (max-width: 1024px) {

    .hamburger {
      display: flex;
    }
  
    nav ul, nav a {
      display: none;
    }
  
    .support {
      display: none;
     }
  
     .text-bg {
      margin-bottom: 60px;
      width: 85%;
      height: 60%;
      margin-left: 20%;
      margin-right: 8%;
    }

    .translate {
      position: absolute;
      justify-content: space-evenly;
      flex-direction: row;
      background-color: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      bottom: 10%;
    }

    .form-group{
      margin-top: 10%;
    }
  
    .hamburger-content .show-hb ul{
      z-index: 11;
    }

    .hamburger{
      z-index: 12;
    }

    h1{
      margin-top: 12%;
    }
  
  }